@import "_base.scss";

.dz-field{
    margin-top: 30px;
    margin-bottom: 40px;
}

.dropzone {
  position: center;
  text-align: center;
  font: 20px bold;
  color: getColor(Grey,900);
  background-color: getColor(Light Blue, 50);

  min-height: 150px;
  border: 2px dashed $blue-500;
  border-radius: 5px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.dz-small{
padding-top: 20px;
padding-bottom: 20px;
}

.dz-small:not(:first-child) {
    margin-top: 15px;
}





section#contact{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url(../images/contact.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
section#contact .form-group{margin-bottom:25px}
section#contact .form-group input,section#contact .form-group textarea{padding:20px}
section#contact .form-group input.form-control{height:auto}
section#contact .form-group textarea.form-control{height:236px}
section#contact .form-control:focus{border-color:$yellow-500;box-shadow:none}