.no-padding {
    padding: 0;
}

.row > [class*='col-'] {
     display: flex;
     flex-direction: column;
}

@media only screen and (min-width : 768px) {
  .eqHeight {
    display: table;
  }
  .eqHeight [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}
/*.eqHeight{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}*/




::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.position-r{
    position: relative;
    float: right;
}

.position-b-r{
    float:right;
    position: relative;
    bottom: 15px;
}

.position-b-l{
    float:left;
    position: relative;
    bottom: 15px;
}