<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="Viktor Leandersson">

    <title>Genvo - @ViewBag.Title</title>




    <!-- Lib CSS -->
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.min.css" type="text/css">
    
    
    <environment names="Development">
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <!-- CSS Framework -->
        <link rel="stylesheet" href="~/lib/animate/animate.min.css" type="text/css">
        <link rel="stylesheet" href="~/lib/font/css/font-awesome.min.css" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="~/css/visualization.min.css" type="text/css" asp-append-version="true">

        <!--Favicon-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </environment>
    <environment names="Staging,Production">
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <!-- CSS Framework -->
        <link rel="stylesheet" href="~/lib/animate/animate.min.css" type="text/css">
        <link rel="stylesheet" href="~/lib/font/css/font-awesome.min.css" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="~/css/visualization.min.css" type="text/css" asp-append-version="true">

        <!--Favicon-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </environment>

</head>
<body>

@RenderBody()

<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


<!--WebGL-->
<script src="~/lib/threeJs/three.min.js"></script>
<script src="~/js/App/UserInputService/cameraControls.js"></script>
<script src="~/js/App/Models/planeText.js"></script>

<!-- Library -->
<script src="~/lib/chromajs/chroma.min.js"></script>
<script src="~/lib/tweenjs/Tween.js"></script>
<script src="~/lib/Queue.js"></script>
<script src="~/lib/d3/d3.min.js"></script>
<script src="~/lib/InVizMenu/js/jquery.wheelmenu.js"></script>



<!--GraphicEngine-->
<script src="~/js/App/GraphicsUtitlity/customShader.js"></script>

<script src="~/lib/graphics/CopyShader.js"></script>
<script src="~/lib/graphics/HorizontalBlurShader.js"></script>
<script src="~/lib/graphics/VerticalBlurShader.js"></script>
<script src="~/lib/graphics/ConvolutionShader.js"></script>

<script src="~/lib/graphics/EffectComposer.js"></script>
<script src="~/lib/graphics/RenderPass.js"></script>
<script src="~/lib/graphics/BloomPass.js"></script>
<script src="~/lib/graphics/ShaderPass.js"></script>
<script src="~/lib/graphics/MaskPass.js"></script>
<script src="~/lib/graphics/SavePass.js"></script>
    
<!--Datastrucutres-->
<script src="~/js/App/utility/commons.js"></script>
<script src="~/js/DataStructures/genvoTree.js"></script>
<script src="~/js/App/ReconciliationService/genvoReconciliationService.js"></script>

<!--Visualization-->
<!--<script src="../assets/lib/graphics/three-effectcomposer/index.js"></script>-->
<script src="js/App/Models/basicMeshes.js"></script>
<script src="js/App/GraphicsUtitlity/AnimationService.js"></script>
<script src="~/js/App/Models/createGraphEdge.js"></script>
<script src="js/App/GraphicsUtitlity/treeLayoutAlgorithm.js"></script>
<script src="~/js/App/visualization.js"></script>
<script src="~/js/utility/utility.min.js"></script>
<!--<script src="../assets/js/App/functionVis.js"></script>-->

</body>
</html>
