@{
    ViewData["Title"] = "Visualization";
    Layout = "_LayoutVisualization";
}



<div id="tool-drawer-bottom" class="bottomnav">
    <a href="javascript:void(0)" id="drawer-btn-bottom" class="btn btn-circle" onclick="closeBottomNav()"><i class="glyphicon glyphicon-chevron-down"></i></a>
    <div class="row">
        <div class="column">
            <div class="content">
                <h3>Gene View</h3>
                <INPUT id="btn-view-gene" type="image" src="~/images/app/buttons/btn-view-gene.gif" value=""/>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <h3>Species View</h3>
                <INPUT id="btn-view-species" type="image" src="~/images/app/buttons/btn-view-species.gif" value="">
            </div>
        </div>
    </div>
</div>

<!-- Side drawer -->
<div id="tool-drawer-left" class="sidenav">
    <a href="javascript:void(0)" id="drawer-edge-left" class="drawer-edge-left" onclick="closeNav()"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <div class="icon-bar">
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-th"></i>
        </div>
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-random"></i>
        </div>
        <div class="sidenav-item-icon">
            <i class="glyphicon glyphicon-cog"></i>
        </div>
    </div>
    <div class="item-bar">
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>General</span>
            </div>
            <div class="sidenav-item-body">
                <ul>
                    <li>
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        <span>Save tree</span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-export"></i>
                        <span>Export tree</span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-print"></i>
                        <span>Print tree</span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-import"></i>
                        <span>Upload new trees</span>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-share"></i>
                        <span>Share tree</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>Subtress (clades)</span>
            </div>
            <div class="sidenav-item-body"></div>
        </div>
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>Functions</span>
            </div>
            <div class="sidenav-item-body"></div>
        </div>
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>Species</span>
            </div>
            <div class="sidenav-item-body"></div>
        </div>
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>Reconciliation</span>
            </div>
            <div class="sidenav-item-body"></div>
        </div>
        <div class="sidenav-item">
            <div class="sidenav-item-header">
                <span>Settings</span>
            </div>
            <div class="sidenav-item-body"></div>
        </div>
    </div>
</div>

<!-- The app is created with javascript-->
<div id="Genvo-App" class="Genvo-App">

    <!-- On click tools -->
    <span id="onClickTools" class="floating-toolbox">
        <a id="info-button" href="#detailsOnDemand" class="info-button">
            <i class="glyphicon glyphicon-info-sign"></i>
        </a>

        <a id="vis-button" href="#info" class="info-button">
            <i class="glyphicon glyphicon-eye-open"></i>
        </a>
        <a id="lamp-button" class="info-button">
            <i class="glyphicon glyphicon-lamp"></i>
        </a>
        <a id="move-button" class="info-button">
            <i class="glyphicon glyphicon-move"></i>
        </a>
        <a id="rotate-button" class="info-button">
            <i class="glyphicon glyphicon-info-sign"></i>
        </a>
    </span>
    <div id="dialog-form" title="Node info">
        <p>Name</p>

        <form>
            <fieldset>
                <p>
                    Function group
                    <select name="Gene functions" id="funcDropDown">
                        <option value="volvo">undefined</option>
                        <option value="volvo">CesA</option>
                    </select>
                </p>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
</div>







